.container00 {
    &.container02 {
        background-image: url(../../img/karate/bg-karate.jpg);
    }
}

.titlePaddingKarate {
    padding-top: 100px;
}

.old-karate {
    width: 50%;
    float: left;
    padding-right: 5px;
}